@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-primaryColor: #E54248;
  --color-secondaryColor: #D9D9D9;
  --color-accentColor: #404040;

}


html {
  scroll-behavior: smooth;
}

/* Custom progress bar with #E54248 */
/* গাঢ় লাল: #E54248 */
.progress-red::-webkit-progress-value {
  background-color: #e54247d2;
}

/* জাপসা লাল: #F48084 */
.progress-soft-red::-webkit-progress-value {
  background-color: #F48084;
}


