@import "tailwindcss";
@plugin "daisyui";


body{
   font-family: "Open Sans", sans-serif;
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-primaryColor: #E54248;
  --color-secondaryColor: #D9D9D9;
  --color-accentColor: #404040;

}



html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

/* Custom progress bar with #E54248 */

.progress-red::-webkit-progress-value {
  background-color: #e54247d2;
}

/*  #F48084 */
.progress-soft-red::-webkit-progress-value {
  background-color: #F48084;
}


.navbar a:hover {
  color: #fff;
 
 
}

.navbar a.active {
  color: #fff;
  text-decoration: underline;
   text-underline-offset: 4px;
}

@keyframes smoothLeftRight {
  0% {
    transform: translateX(0);  
    opacity: 1;
  }
  40% {
    transform: translateX(-150%); 
    opacity: 0;
  }
  41% {
    transform: translateX(50%); 
    opacity: 0;
  }
  100% {
    transform: translateX(0);     
    opacity: 1;
  }
}

.animate-leftRight {
  animation: smoothLeftRight 4s ease-in-out infinite;
}





